.register-labels {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .register-labels:first-child {
    margin-top: 0;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .form-label {
    color: white;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
  }
  
  