.register-labels {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .register-labels:first-child {
    margin-top: 0;
  }

  .form-field {
    display: flex;
    flex-direction: column;  /* лейбл над полем */
    margin-bottom: 20px;     /* отступ между полями */
  }

  .form-label {
    color: white; /* здесь нужный тебе цвет */
    font-weight: 600;
    margin-bottom: 8px; /* чтобы был отступ от поля */
    display: block;
  }
  
  