.header-nav {
  width: 100%;
  max-width: 402px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 5px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-arrow {
  cursor: pointer;
}

.nav-text {
  font-size: 18px;
  font-weight: 500;
}
