.header-nav {
  width: 100%;
  max-width: 430px;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-arrow {
  cursor: pointer;
}

.nav-text {
  font-size: 15px;
  font-weight: 300;
  color: #274253;
}
