.info-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dorm-title {
  font-size: 36px;
  font-weight: 500;
  color: #274253;
  margin-top: 15px;
  margin-bottom: 25px;
  text-shadow: 35px 15px 0px rgba(28, 49, 60, 0.13), -35px -15px 0px rgba(28, 48, 61, 0.13);
  
}

.dorm-scheme {
  width: 312px;
  height: 196px;
  object-fit: cover;
  margin-bottom: 20px;
  color: "59707E";
}

.floor-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  margin-top: 10px;
}

.floor-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.floor-text {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.eat-title {
  color: #274253;
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

.eat-block {
  width: 100%;
  background-color: #274253;
  padding: 15px 42px;
  margin-bottom: 5px;
}

.eat-text {
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 5px;
}

.eat-text:last-child {
  margin-bottom: 0;
}

.section-title {
  font-size: 24px;
  color: #274253;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
}

.transport-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  justify-items: center;
  margin-bottom: 30px;
}

.transport-card {
  width: 80px;
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.transport-icon {
  width: 70px;
  height: 70px;
  opacity: 0.6;
}

.transport-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.floor-select-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 0 25px;

  display: flex;
  align-items: center;
  gap: 8px;

  justify-content: flex-start; /* 👈 ВАЖНО: всё слева */
  text-align: left;
}

.floor-select-wrapper::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('./arrowdown.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 70%;
  top: 55%;
  transform: translateY(-50%);
  pointer-events: none; /* чтобы не мешать клику по select */
}

.floor-select {
  border: none;
  background: none;
  font-size: 17px;
  font-weight: 600;
  color: #274253;
  cursor: pointer;
  text-align: center;
  appearance: none;
}
