body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(0, 140, 124, 1) 0%,
    rgba(0, 129, 209, 1) 100%
  );
}

.main .container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
