.grade-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 30px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #BDC6CB;
  border-radius: 25px;
  margin-bottom: 25px;
}

.grade-header-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.grade-header-item {
  display: flex;
  flex-direction: column;
}

.grade-label {
  font-size: 16px;
  font-weight: 450;
  color: #274253;
}

.grade-value {
  font-size: 16px;
  font-weight: 450;
  color: #274253;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field-select {
  padding: 8px 12px;
  border-radius: 25px;
  background-color: #ffffff;
  border: 1px solid #CCCCCC;
  color: #cccccc;
  font-size: 14px;
  font-weight: 500;
}

.subject-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
  margin-bottom: 1px;
}

/* Нечётные элементы — 20% */
.subject-block:nth-of-type(odd) {
  background-color: rgba(89, 112, 126, 0.2);
}

/* Чётные — 30% */
.subject-block:nth-of-type(even) {
  background-color: rgba(89, 112, 126, 0.3);
}

.subject-name {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.subject-grade {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: #FFC800;
}


.subject-label {
  color: #274253;
  font-weight: 450;
  margin-bottom: 8px;
}

