.directorate-box {
  width: calc(100% - 30px);
  max-width: 402px;
  padding: 40px 15px;
  border-radius: 25px;
  margin-top: 20px;
}

.primary-box {
  display: flex;
  flex-direction: column;
  background-color: #bdc6cb;
}

.secondary-box {
  background-color: #bdc6cb;
}

.directorate-photo {
  width: 90px;
  height: 116px;
  border-radius: 10px;
  background-color: white;
}

.directorate-content {
  display: flex;
  padding: 0 18px;
  gap: 15px;
}

.directorate-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.d-name {
  color: #1f3542;
  font-size: 20px;
  font-weight: 500;
}

.d-section-title {
  color: #1f3542;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}

.d-info {
  color: #274253;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 5px;
}

.directorate-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
