.mastercall-title {
  text-align: left;
  font-size: 24px;
  margin: 20px 0;
  font-weight: 500;
}

.issues-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.issue-btn {
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 25px;
  min-width: 320px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  transition: 0.2s;
}

.input-label {
  text-align: left;
  font-weight: 400;
}

.issue-btn.selected {
  background-color: #59707e;
  color: white;
  border-color: #59707e;
}

.other-input {
  display: block;
  margin: 10px auto;
  padding: 8px 12px;
    min-width: 320px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-weight: 400;
}

.datetime-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  margin: 15px 0;
}

.datetime-container input {
  width: 320px;
  padding: 8px 12px;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-weight: 400;
}

.room-input {
  display: block;
  margin: 10px auto;
  padding: 8px 12px;
  min-width: 320px;
  border-radius: 25px;
  border: 1px solid #ccc;
}

.call-btn-wrapper {
  display: flex;
  justify-content: center;
  min-width: 320px;
  margin-top: 20px;
}
