.sections-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.section-square {
  width: 170px;
  height: 170px;
  background-color: #274253;
  border-radius: 15px;
  display: flex;
  align-items: flex-end; /* текст у нижнего края */
  justify-content: center;
  padding-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.section-square:hover {
  transform: scale(1.05);
}

.section-text {
  color: #ffffff;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
