.sections-title {
  font-size: 36px;
  font-weight: 500;
  color: #274253;
  margin-bottom: 25px;
  text-align: left;
  text-shadow: 45px 20px 0px rgba(28, 49, 60, 0.15), -45px -20px 0px rgba(28, 48, 61, 0.15);
  margin-top: 10px;
  margin-bottom: 40px;
}


.columns-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.column {
  display: flex;
  flex-direction: column;
}

.section-image {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.2s ease;
}

.section-image:hover {
  transform: scale(1.05);
}
