.footer {
  width: 100%;
  max-width: 430px;
  height: 90px;
  background-color: #274253;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
}

.footer-circles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 330px; 
}


.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.small-circle {
  width: 55px;
  height: 55px;
}

.small-circle img {
  width: 33px;
  height: 33px;
}

.medium-circle {
  position: relative;
  bottom: 20px;
  width: 90px;
  height: 90px;
}

.medium-circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
