.footer {
  width: 100%;
  max-width: 430px;
  height: 60px;
  background-color: #274253;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
}

.footer-circles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 330px; 
  padding: 0 20px;
}


.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.small-circle {
  width: 43px;
  height: 43px;
}

.small-circle img {
  width: 30px;
  height: 30px;
}

.medium-circle {
  position: relative;
  bottom: 20px;
  width: 75px;
  height: 75px;
}

.medium-circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.small-circle img.message {
  width: 25px;
  height: 25px;
}
