.btn {
  border: none;
  width: 300px;
  padding: 18px 38px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(0, 140, 124, 1) 0%,
    rgba(0, 129, 209, 1) 100%
  );
  border-radius: 70px;
}