.global-btn {
    padding: 19px 41px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 11px;
    background: rgba(31, 53, 67, 1);
    border: none;
    border-radius: 75px;
    transition: all 0.2s;
    color: white;
    animation-name: up;
    animation-duration: 1s;
  }

  .global-btn:hover {
    transform: scale(1.03);
    background: rgba(130, 134, 146, 1);
    color: #ffffff;
  }
  