.card-student-info {
  display: flex;
  padding-bottom: 20px;
  width: 342px;
  margin: 0 auto;
  border-radius: 40px;
  background: linear-gradient(
    180deg,
    rgba(0, 140, 124, 1) 0%,
    rgba(0, 129, 209, 1) 100%
  );
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.student-top {
  display: flex;
  align-items: center;
  margin-left: 35px;
  margin-top: 25.5px;
  gap: 16px;
}

.studImg {
  width: 89px;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
}

.student-name h2 {
  margin: 0;
  color: white;
}

.student-main-info {
  display: flex;
  flex-direction: column;
  width: 261px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  margin-top: 8px;
  margin-left: 27px;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 10px;
  color: white;
  font-size: 14px;
}

.student-main-info p {
  margin: 3.5px 0;
}
