.select-main {
    background-color: #d9d9d9;
    border: none;
    border-radius: 45px;
    max-width: 100%;
    min-height: 40px;
    font-size: 16px;
    font-weight: 400;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 40px;
    padding-right: 20px;
    background-image: url("/icon.svg");
    background-repeat: no-repeat;
    background-position: 14px center;
  }

  .select-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    animation-name: reganim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes up {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes reganim {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  