* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 600;
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.colored {
  background: #182832;
  background: linear-gradient(
    180deg,
    rgba(24, 40, 50, 1) 0%,
    rgba(43, 76, 94, 1) 65%
  );
}

.welcome-desc {
  color: white;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 10px;
}

.welcome-desc::before {
  content: "";
  width: 15px;
  height: 10px;
  mask-image: url("/checkTrue.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: white;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.welcome-desc-title {
  text-align: center;
  color: white;
}

.welcome-btn-enter {
  background-color: #1f3543;
  border: none;
  border-radius: 70px;
  color: white;
  padding: 19px 53px;
}

.welcome-btn {
  padding: 19px 41px;
  width: 275px;
  margin-bottom: 11px;
  background-color: #d7d7d7;
  border: none;
  border-radius: 75px;
  transition: all 0.2s;
  color: black;
  animation-name: up;
  animation-duration: 1s;
}

.welcome-btn:hover {
  transform: scale(1.03);
  background-color: #4a4a4a;
  color: #ffffff;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  animation-name: up;
  animation-duration: 0.5s;
}

.input-label-username {
  margin-left: 10px;
  margin-bottom: 10px;
}

.input-label-password {
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.input-login {
  background-color: #d9d9d9;
  border: none;
  border-radius: 45px;
  padding-left: 20px;
  min-height: 40px;
  font-size: 16px;
  font-weight: 400;
}

.input-password {
  background-color: #d9d9d9;
  border: none;
  border-radius: 45px;
  padding-left: 20px;
  min-height: 40px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 200px;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.welcome-title {
  margin-bottom: 200px;
  animation-name: up;
  animation-duration: 1s;
  transition: all 1s;
}

.welcome-title:hover {
  transform: scale(1.1);
}

.login-btn {
  border: none;
  background-color: #d7d7d7;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 45px;
}

@keyframes reganim {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.select-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  animation-name: reganim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.register-labels {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.register-labels:first-child {
  margin-top: 0;
}

.select-main {
  background-color: #d9d9d9;
  border: none;
  border-radius: 45px;
  max-width: 100%;
  min-height: 40px;
  font-size: 16px;
  font-weight: 400;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 40px;
  padding-right: 20px;
  background-image: url("/icon.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
}

.input-register {
  background-color: #d9d9d9;
  border: none;
  border-radius: 45px;
  width: 300px;
  min-height: 40px;
  font-size: 16px;
  font-weight: 400;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 40px;
}

.radio-title {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.radio-wrapper {
  display: flex;
  margin-top: 33px;
  margin-left: 8px;
  gap: 59px;
  align-items: center;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 600;
}

.radio-input {
  width: 17px;
  height: 17px;
  accent-color: #4a4a4a;
  cursor: pointer;
}

.reg-button {
  border: none;
  background-color: #5d5d5d;
  color: white;
  border-radius: 45px;
  padding: 10px 53px;
  margin-top: 32px;
}
