* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 600;
}

body {
  background: #182832;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.colored {
  background: #182832;
  background: linear-gradient(
    180deg,
    rgba(24, 40, 50, 1) 0%,
    rgba(43, 76, 94, 1) 65%
  );
}



@keyframes reganim {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
