* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.profile-photo {
  margin-top: -40px;
  margin-bottom: 10px;
}

.account-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.account-info {
  color: #274253;
  font-weight: 400;
}

.account-rectangle {
  width: 100%;
  max-width: 402px;
  background-color: #274253;
  border-radius: 25px;
  padding: 20px 25px;
  padding-bottom: 30px;
  color: white;
  margin-top: 25px;
}


.contact-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  text-align: left;
}

.contact-label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  opacity: 0.9;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.contact-input {
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: none;
  padding: 0 40px 0 12px;
  font-size: 15px;
}

.input-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.7;
  cursor: pointer;
}

.mini-blocks {
  width: 100%;
  max-width: 402px;
  margin-top: 25px;

  display: flex;
  justify-content: center;
}

.mini-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mini-rectangle {
  width: 120px;
  height: 120px;
  background-color: #d9d9d9;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-icon {
  width: 48px;
  height: 48px;
}

.mini-label {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.hnav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.warnings {
  margin-top: 5px;
  font-weight: 500;
  color: #274253;
}

.dormitory-block {
  width: 100%;
  max-width: 402px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dormitory-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dormitory-label {
  font-size: 15px;
  font-weight: 450;
  color: #274253;
}

.dormitory-room {
  font-size: 15px;
  font-weight: 300;
  color: #274253;
  text-align: left;
}

.status-badge {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.status-badge.paid {
  border: 2px solid #3cb371;
  color: #3cb371;
}

.status-badge.notpaid {
  border: 2px solid #ff0000;
  color: #ff0000;
}

.status-badge.notfound {
  border: 2px solid #9e9e9e;
  color: #9e9e9e;
}

.access-blocks {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.access-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.access-item {
  width: 167px;
  height: 45px;
  background-color: #ffffff;
  border: 1.5px solid #274253;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  color: #274253;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.qr-wrapper {
  position: relative;
  width: 167px;
  height: 167px;
}

.qr-image {
  width: 100%;
  height: 100%;
  border-radius: 15px; /* скругление QR, если нужно */
  object-fit: cover;
}

.qr-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px; /* размер прямоугольника внутри QR */
  height: 40px;
  background-color: rgba(255, 255, 255, 0.8); /* белый с прозрачностью */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #274253;
  cursor: pointer;
  text-align: center;
}


