.welcome-desc {
  color: white;
  font-size: 16px;
  font-weight: 300;
  max-width: 300px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 30px;
}

.welcome-desc::before {
  content: "";
  width: 15px;
  height: 10px;
  mask-image: url("/checkTrue.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: white;
}

.welcome-desc-title {
  text-align: center;
  color: white;
}

.welcome-title {
  margin-bottom: 200px;
  animation-name: up;
  animation-duration: 1s;
  transition: all 1s;
}

.welcome-title:hover {
  transform: scale(1.1);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
}

.welcome-desc-last {
  color: white;
  font-size: 16px;
  font-weight: 300;
  max-width: 300px;
  text-align: center;
  margin-top: 30px; 
}

.welcome-desc,
.welcome-desc-last,
.welcome-desc-title,
.text-wrapper button {
  opacity: 0;
  transform: translateY(20px) scale(0.95);
  animation-fill-mode: forwards;
}

.container img {
  opacity: 0;
  transform: translateY(-30px) scale(0.95);
  animation: fadeLogo 0.8s ease-out 0.0s forwards; 
}

@keyframes fadeLogo {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


.welcome-desc-title {
  opacity: 0;
  transform: translateY(20px) scale(0.95);
  animation: fadeUp 0.8s ease-out 0.2s forwards;
}


.welcome-desc:nth-child(2) {
  animation: fadeUp 0.8s ease-out 0.3s forwards;
}

.welcome-desc:nth-child(3) {
  animation: fadeUp 0.8s ease-out 0.4s forwards;
}

.welcome-desc:nth-child(4) {
  animation: fadeUp 0.8s ease-out 0.5s forwards;
}

.welcome-desc:nth-child(5) {
  animation: fadeUp 0.8s ease-out 0.6s forwards;
}

.welcome-desc:nth-child(6) {
  animation: fadeUp 0.8s ease-out 0.7s forwards;
}

.welcome-desc:nth-child(7) {
  animation: fadeUp 0.8s ease-out 0.8s forwards;
}

.welcome-desc-last {
  animation: fadeUp 0.8s ease-out 0.9s forwards;
}


.text-wrapper button {
  opacity: 0;
  transform: translateY(20px) scale(0.95);
  animation: fadeUp 0.8s ease-out 1s forwards;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.text-wrapper button:hover {
  transform: scale(1.05);
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
