* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-content {
  width: 100%;           
  max-width: 402px;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px;
  margin-top: 25px;
  padding: 20px;         
}

.buttons-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
