* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-content {
  width: 100%;
  max-width: 402px;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px;
  margin-top: 25px;
  padding: 20px;
}
.main-content-title {
  color: #3b486a;
  font-weight: 500;
  margin-top: 30px;
}

.main-content-btn {
  font-size: 17px;
  animation: none;
}

.buttons-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 365px;
  background-color: #d9d9d9;
  border-radius: 35px;
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;
}

.main-content-desc {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 20px 10px;
}
