.event-card {
  background-color: #59707e;
  width: 402px;
  border-radius: 25px;
  padding: 20px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.event-image {
  max-width: 320px;
  max-height: 222px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 20px;
}

.event-title {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  align-self: flex-start;
  padding: 0 20px;
  margin-bottom: 10px;
}

.event-location {
  color: #ffffff;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.4;
  align-self: flex-start;
  margin-bottom: 20px;
}

.event-btn {
  width: 320px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  padding: 10px 0;
  transition: all 0.3s ease;
}

.event-btn:hover {
  background-color: #f1f1f1;
}
