.input-register {
    background-color: #d9d9d9;
    border: none;
    border-radius: 45px;
    width: 300px;
    min-height: 40px;
    font-size: 16px;
    font-weight: 400;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 40px;
  }

.select-main {
  background-color: #d9d9d9;
  border: none;
  border-radius: 45px;
  width: 300px; /* ✅ как у input-register */
  min-height: 40px;
  font-size: 16px;
  font-weight: 400;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 40px;
  padding-right: 20px;
  background-image: url("/icon.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
}

  .select-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    animation-name: reganim;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  .radio-title {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .radio-wrapper {
    display: flex;
    margin-top: 10px;
    margin-left: 8px;
    gap: 59px;
    align-items: center;
  }
  
  .radio-item {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .radio-input {
    width: 17px;
    height: 17px;
    accent-color: #4a4a4a;
    cursor: pointer;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
  }
  
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    animation-name: up;
    animation-duration: 0.5s;
  }

  button {
    margin-top: 15px;
  }

  